@model Auction.Model.Message.Orders

@{
    ViewBag.Title = "Customer Order";
}

<body style="background-color:white; ">

    <div style="
        display:inline;
        position: absolute;
        top: 100px;
        left: 50px;
        width: auto;
        height: auto;
        margin: auto;">

        <h2 style="font-size: x-large; font: bold; color: forestgreen"> Orders </h2> <br />

        @if (Model != null)
        {
            
                <table>

                    <tr style="color:black">
                        <td style="font-size: large">

                            @Html.Label("Order Number :")
                            @Html.DisplayFor(m => m.Order_ID, new { @class = "" }) <br />

                            @Html.Label("Product:")
                            @Html.DisplayFor(m => m.Product_name, new { @class = "" })

                            <br />  
                            @Html.Label("Order Amount:")
                            @Html.DisplayFor(m => m.Order_amount, new { @class = "" }) <br />

                            @Html.Label("Order Date:")
                            @Html.DisplayFor(m => m.Order_datetime, new { @class = "" }) 

                           

                        </td>

                    </tr>
                </table>
            
        }

        else
        {
            <table>
                <tr>
                    <td style="font-size: large"> There are no Orders </td>
                </tr>
            </table>
        }








    </div>
</body>

