@model Auction.Model.Message.Auction
@{
    ViewBag.Title = "CustomerBid";
}

<body style="background-color:white; ">

    <div style="
        display:inline;
        position: absolute;
        top: 150px;
        left: 50px;
        width: auto;
        height: auto;
        margin: auto;">

        @if (Model != null)
        {
            @Html.ValidationSummary(true, "Error occured", new { @class = "text-danger" })
            using (Html.BeginForm("UpdateCustomerBid", "Auction", FormMethod.Post))
            {
                <table>
                    <tr style="color:black">
                        <td style="font-size: large">

                            @Html.Label("Product:")
                            @Html.DisplayFor(model => model.ProductName) <br />
                            @Html.HiddenFor(model => model.ProductName)

                            @Html.Label("Description:")
                            @Html.DisplayFor(model => model.ProductDescription) <br />
                            @Html.HiddenFor(model => model.ProductDescription)

                            @Html.Label("End Date:")
                            @Html.DisplayFor(model => model.ProductBidTime) <br />
                            @Html.HiddenFor(model => model.ProductBidTime)

                            @Html.Label("Status:")
                            @Html.DisplayFor(model => model.BidStatus) <br />
                            @Html.HiddenFor(model => model.BidStatus)

                            @Html.HiddenFor(model => model.AuctionId)
                            @Html.HiddenFor(model => model.ProductId)

                            @if (Model.CurrentHighestBidPrice != 0)
                            {
                                @Html.Label("Current Highest Bid:")
                                @Html.DisplayFor(model => model.CurrentHighestBidPrice) <br />
                                @Html.HiddenFor(model => model.CurrentHighestBidPrice)
                            }

                            @Html.Label("Bid Price:")
                            @Html.TextBoxFor(model => model.BidPrice, new { @id = "bidPrice", autocomplete = "off" }) <br />
                        </td>

                    </tr>
                </table>
                <br />
                if (Model.BidStatus != "Active")
                {
                    <input type="submit" value="Submit" style="color:white; background-color:gray; font-size: large; " disabled="disabled" />
                }
                else
                {
                    <input id="updateBid" type="submit" value="Submit" style="color:white; background-color:cornflowerblue; font-size: large" />
                }
            }
        }
        else
        {
            < table >
            < tr >
            < td style = "font-size: large" > There are no Bids </ td >

            </ tr >

            </ table >
        }
    </div>
</body>
