@model Auction.Model.Message.Product
@{
    ViewBag.Title = "MyProduct";
}

<body style="background-color:white; ">


    <div style="
        display:inline;
        position: absolute;
        top: 150px;
        left: 50px;
        width: auto;
        height: auto;
        margin: auto;">

        @if (Model != null)
        {

            @Html.ValidationSummary(true, "Please correct the errors and try again.", new { @class = "text-danger" })
            using (Html.BeginForm("UserBid", "Auction", FormMethod.Post))
            {

                double? BidPrice = ViewData["BidPrice"] as double?;
                <table>

                    <tr style="color:black">
                        <td style="width: auto; height: 100px; font:600; font-family: 'Times New Roman', Times, serif; font-size: large">
                            @Html.Label("Product:") 
                            @Html.DisplayFor(model => model.ProductName, new { @class = "form-control" }) <br />
                            @Html.HiddenFor(model => model.ProductId)

                            @Html.Label("Description:") 
                            @Html.DisplayFor(model => model.ProductDescription, new { @class = "form-control" }) <br />

                            @Html.Label("End Date:") 
                            @Html.DisplayFor(model => model.ProductBidTime, new { @class = "form-control" }) <br />
                            @Html.HiddenFor(model => model.ProductBidTime)

                            @Html.Label("Status:") 
                            @Html.DisplayFor(model => model.Status, new { @class = "form-control" }) <br />

                            @if (Model.CurrentHighestBid == 0)
                            {
                                @Html.Label("Min Bid Price:")                                
                                @Html.DisplayFor(model => model.ProductBidPrice, new { @class = "form-control" }) <br />

                            }
                            else
                            {
                                @Html.Label("Current Highest Bid:") 

                                @Html.DisplayFor(model => model.CurrentHighestBid, new { @class = "form-control" }) <br />
                            }
                        </td>

                    </tr>
                </table>

                <div>
                    <label style="color: black; font-size: large"> Bid Price: </label>
                    @Html.TextBox("BidPrice", BidPrice, new { @id = "submitBidPrice", autocomplete = "off" }) <br />

                </div>
                <br />

                <input id="submitBid" type="submit" value="Submit" style="color:white; background-color:cornflowerblue; font-size: large" />
            }
        }

        else
        {
            <table>
                <tr>
                    <td> There is no Product </td>
                </tr>
            </table>
        }
    </div>
</body>




