
@model Auction.Model.Message.ProductRequest
@{
    ViewBag.Title = "SellProduct";
}

<body style="background-color:white; ">

    <div style="text-align: inherit;
        display: inherit;
        position: absolute;
        top: 150px;
        left: 50px;
        width: auto;
        height: auto;
        margin: auto;">


        @Html.ValidationSummary(true, "Please correct the errors and try again.", new { @class = "text-danger" })
        @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post))
        {
            List<Auction.Model.Message.ProductTypes> products = TempData["products"] as List<Auction.Model.Message.ProductTypes>;

            <div style="font-size: medium">
                <label style="color: black"> Select Category: </label>
                @Html.DropDownListFor(m => m.ProductTypeId, new SelectList(products, "ProductTypeId", "ProductType"), new { @class = "form-control" }) <br />


            </div>

            <div style="font-size: medium">
                <label style="color: black"> Product Name: </label>
                @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @id = "sellProductName", autocomplete = "off" }) <br />
                @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
            </div>

            <div style="font-size: medium">
                <label style="color: black"> Product Description: </label>
                @Html.TextBoxFor(m => m.ProductDescription, new { @class = "form-control" , @id = "sellProductDescription", autocomplete = "off" }) <br />
                @Html.ValidationMessageFor(m => m.ProductDescription, "", new { @class = "text-danger" })
            </div>
            <div style="font-size: medium">
                <label style="color: black"> Product Bid Time: </label>
                @Html.TextBoxFor(m => m.ProductBidTime, new { @class = "form-control", @id = "sellProductBidTime", autocomplete = "off" }) <br />
                @Html.ValidationMessageFor(m => m.ProductBidTime, "", new { @class = "text-danger" })
            </div>

            <div style="font-size: medium">
                <label style="color: black"> Product Bid Price: </label>
                @Html.TextBoxFor(m => m.ProductBidPrice, new { @class = "form-control", @id = "sellProductBidPrice", autocomplete = "off" }) <br />
                @Html.ValidationMessageFor(m => m.ProductBidPrice, "", new { @class = "text-danger" })
            </div>

            @*<div style="font-size: medium">
                <label style="color: black"> Max Price: </label>
                @Html.TextBoxFor(m => m.MaxPrice, new { @class = "form-control", @id = "maxPrice", autocomplete = "off" }) <br />
                @Html.ValidationMessageFor(m => m.MaxPrice, "", new { @class = "text-danger" })
            </div>*@
            <input type="submit" value="Submit" id="submitProduct" style="color:white; background-color:cornflowerblue; font-size: large" />

        }

    </div>
    
</body>